[Home](../../README.md)

### Data Wrangling

This is a demonstration of data wrangling using [Pandas](https://pandas.pydata.org/) the library for data analysis and manipulation.

This Jupyter Notepad demonstrates different processes you can apply to your data to prepare it for feature engineering and model training. For this demonstration we will wrangle the diabetes data set you previewed in the last Jupyter Notebook.

> [!Note]
> None of these processes are destructive to the source CSV as long as you save the modified data to a new CSV.

#### Load the required dependencies

In [22]:
# Import frameworks
import pandas as pd

####  Store the data as a local variable

The data frame is a Pandas object that structures your tabular data into an appropriate format. It loads the complete data in memory so it is now ready for preprocessing.

In [23]:
data_frame = pd.read_csv("2.1.2.diabeties_sample_data.csv")

#### Dealing with null values

Null values during data analysis can cause runtime errors and unexpected results. It is important to identify null values and deal with them appropriately before training a model.

The `isnull().sum()` method call returns the null values in any column.

In [24]:
data_frame.isnull().sum()

DoB       0
DoT       0
SEX       1
BMI       0
BP        0
TC        0
BGU       0
FDR       0
Target    1
dtype: int64

If you have null data there are many ways to deal with the empty/null values. These are the two most common approaches.
1. Remove any row with a null value with a `dropna()` method call.
2. Replace missing values with another value with a `fillna()` method call. Generally, we use mean value for numerical columns because it may cause minimal changes in your mathematical analysis while maintaining the original size of the data.

Students should reflect why this example removes the null 'SEX' but replacing the mean 'Target'?

In [25]:
# Remove Null values
data_frame = data_frame.dropna(subset=['SEX'])
data_frame.isnull().sum()

DoB       0
DoT       0
SEX       0
BMI       0
BP        0
TC        0
BGU       0
FDR       0
Target    1
dtype: int64

In [26]:
# Replace Null values with the mean value for the column
data_frame['Target'] = data_frame['Target'].fillna(data_frame['Target'].mean())
data_frame.isnull().sum()

DoB       0
DoT       0
SEX       0
BMI       0
BP        0
TC        0
BGU       0
FDR       0
Target    0
dtype: int64

#### Remove Duplicates

Duplicate data can have detrimental effects on your machine learning models and outcomes, such as reducing data diversity and representativeness, which can lead to overfitting or biased models.

The `duplicated().sum()` method call returns the count of duplicate rows in the data frame.

In [27]:
data_frame.duplicated().sum()

np.int64(5)

The `drop_duplicates()` method call can be then stored back onto the data_frame variable removing the duplicates.

In [28]:
data_frame = data_frame.drop_duplicates()
data_frame.duplicated().sum()

np.int64(0)

#### Replace data

We can run a lambda function on a column to modify its values. For a simple example, letâ€™s convert the Sex to lowercase. To run a function over a complete column, we can use the apply method which iterates over each row and modifies the values.

In [29]:
data_frame['SEX'] = data_frame['SEX'].apply(lambda x: x.lower())
data_frame['SEX'].head()

0    female
1    female
2      male
3      male
4      male
Name: SEX, dtype: object

We can check that there are no data entry errors by the `unique()` method call.

In [30]:
data_frame['SEX'].unique()

array(['female', 'male', 'girl'], dtype=object)

In [31]:
data_frame['SEX'] = data_frame['SEX'].apply(lambda gender: 'male' if gender.lower() == 'male' else 'female')
data_frame['SEX'].unique()

array(['female', 'male'], dtype=object)

#### Remove outliers

Outliers can skew your analysis on numerical columns, and it is important to remove them. We can use the 25th and 75th quartile on numerical data, to get the inter-quartile range. This allows us to estimate an acceptable range, and we can then filter out any values outside this range. Mathematically, outliers are values occurring outside 1.5 times the interquartile range (IQR) from the first quartile (Q1) or third quartile (Q3).

In [33]:
#get the inter-quartile range on the BP column
print(data_frame['BP'].describe())
Q1 = data_frame['BP'].quantile(0.25)
Q3 = data_frame['BP'].quantile(0.75)
IQR = Q3 - Q1
print(f'Outliers are a BP above {Q3 + IQR * 1.5} or below {Q1 - IQR * 1.5}')

count    442.000000
mean      94.687738
std       14.224409
min       51.000000
25%       84.000000
50%       93.000000
75%      105.000000
max      141.000000
Name: BP, dtype: float64
Outliers are a BP above 136.5 or below 52.5

In [34]:
# Filter BP within the acceptable range
data_frame = data_frame[(data_frame['BP'] >= Q1 - 1.5 * IQR) & (data_frame['BP'] <= Q3 + 1.5 * IQR)]
print(data_frame['BP'].describe())

count    439.000000
mean      94.583098
std       13.790260
min       62.000000
25%       84.000000
50%       93.000000
75%      105.000000
max      133.000000
Name: BP, dtype: float64

In [35]:
#get the inter-quartile range on the BP column
print(data_frame['BMI'].describe())
Q1 = data_frame['BMI'].quantile(0.25)
Q3 = data_frame['BMI'].quantile(0.75)
IQR = Q3 - Q1
print(f'Outliers are a BMI above {Q3 + IQR * 1.5} or below {Q1 - IQR * 1.5}')

count    439.000000
mean      26.361276
std        4.428303
min       18.000000
25%       23.150000
50%       25.700000
75%       29.250000
max       42.200000
Name: BMI, dtype: float64
Outliers are a BMI above 38.400000000000006 or below 13.999999999999996

In [37]:
# Filter BMI within the acceptable range
data_frame = data_frame[(data_frame['BMI'] >= Q1 - 1.5 * IQR) & (data_frame['BMI'] <= Q3 + 1.5 * IQR)]
print(data_frame['BMI'].describe())

count    436.000000
mean      26.261468
std        4.274617
min       18.000000
25%       23.100000
50%       25.700000
75%       29.200000
max       38.300000
Name: BMI, dtype: float64

In [40]:
#get the inter-quartile range on the BP column
print(data_frame['BGU'].describe())
Q1 = data_frame['BGU'].quantile(0.25)
Q3 = data_frame['BGU'].quantile(0.75)
IQR = Q3 - Q1
print(f'Outliers are a BGU above {Q3 + IQR * 1.5} or below {Q1 - IQR * 1.5}')

count    436.000000
mean      91.224771
std       11.511511
min       58.000000
25%       83.000000
50%       91.000000
75%       98.000000
max      124.000000
Name: BGU, dtype: float64
Outliers are a BGU above 120.5 or below 60.5

In [41]:
# Filter BMI within the acceptable range
data_frame = data_frame[(data_frame['BGU'] >= Q1 - 1.5 * IQR) & (data_frame['BGU'] <= Q3 + 1.5 * IQR)]
print(data_frame['BGU'].describe())

count    427.000000
mean      90.997658
std       10.656722
min       66.000000
25%       83.500000
50%       91.000000
75%       98.000000
max      120.000000
Name: BGU, dtype: float64

#### Scaling features to a common range

Scaling the features makes it easier for machine learning algorithms to find the optimal solution, as the different scales of the features do not influence them.

In [43]:
scale_feature = 'BP'

#the minimum value with space for outliers
MIN_BP = 55

#the maximum value with space for outliers
MAX_BP = 140

#scale features
data_frame[scale_feature] = [(X - MIN_BP) / (MAX_BP - MIN_BP) for X in data_frame[scale_feature]]

data_frame.describe()

              BMI          BP          TC         BGU         FDR      Target
count  427.000000  427.000000  427.000000  427.000000  427.000000  427.000000
mean    26.228571   -0.641581    4.042225   90.997658    1.063232  149.869588
std      4.245929    0.001885    1.276983   10.656722    0.829747   75.819459
min     18.000000   -0.646090    2.000000   66.000000    0.000000   25.000000
25%     23.150000   -0.642976    3.000000   83.500000    0.000000   85.500000
50%     25.700000   -0.641799    4.000000   91.000000    1.000000  139.000000
75%     29.100000   -0.640138    5.000000   98.000000    2.000000  204.000000
max     38.300000   -0.636263    9.090000  120.000000    3.000000  341.000000

In [45]:
scale_feature = 'BMI'

#the minimum value with space for outliers
MIN_BMI = 15

#the maximum value with space for outliers
MAX_BMI = 40

#scale features
data_frame[scale_feature] = [(X - MIN_BMI) / (MAX_BMI - MIN_BMI) for X in data_frame[scale_feature]]

data_frame.describe()

              BMI          BP          TC         BGU         FDR      Target
count  427.000000  427.000000  427.000000  427.000000  427.000000  427.000000
mean    -0.582034   -0.641581    4.042225   90.997658    1.063232  149.869588
std      0.006793    0.001885    1.276983   10.656722    0.829747   75.819459
min     -0.595200   -0.646090    2.000000   66.000000    0.000000   25.000000
25%     -0.586960   -0.642976    3.000000   83.500000    0.000000   85.500000
50%     -0.582880   -0.641799    4.000000   91.000000    1.000000  139.000000
75%     -0.577440   -0.640138    5.000000   98.000000    2.000000  204.000000
max     -0.562720   -0.636263    9.090000  120.000000    3.000000  341.000000

In [46]:
scale_feature = 'BGU'

#the minimum value with space for outliers
MIN_BGU = 40

#the maximum value with space for outliers
MAX_BGU = 150

#scale features
data_frame[scale_feature] = [(X - MIN_BGU) / (MAX_BGU - MIN_BGU) for X in data_frame[scale_feature]]

data_frame.describe()

              BMI          BP          TC         BGU         FDR      Target
count  427.000000  427.000000  427.000000  427.000000  427.000000  427.000000
mean    -0.582034   -0.641581    4.042225    0.463615    1.063232  149.869588
std      0.006793    0.001885    1.276983    0.096879    0.829747   75.819459
min     -0.595200   -0.646090    2.000000    0.236364    0.000000   25.000000
25%     -0.586960   -0.642976    3.000000    0.395455    0.000000   85.500000
50%     -0.582880   -0.641799    4.000000    0.463636    1.000000  139.000000
75%     -0.577440   -0.640138    5.000000    0.527273    2.000000  204.000000
max     -0.562720   -0.636263    9.090000    0.727273    3.000000  341.000000

> [!important]
> You need to save the calculations for each dataset you scale for scaling new values for prediction. Use [2.1.2.data.records.md](2.1.2.data.records.md) to record this information.

#### Save the wrangled data to CSV

In [47]:
data_frame.to_csv('../2.2.Feature_Engineering/2.2.1.wrangled_data.csv', index=False)